body {
    text-align: center;
}
#principal {
    display: block;
    width: 500px;
margin: 50px;
padding: 15px;
text-align: center;
border: 1px solid #999999;
background: #dddddd;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-box-shadow: rgb(46, 85, 255) 5px 5px 10px inset;
-webkit-box-shadow:  rgb(0, 247, 255)px 5px 10px inset;
box-shadow:  rgb(159, 29, 255) 5px 5px 10px inset;
background: -webkit-linear-gradient(left, #ffffff, #006699);
background: -moz-linear-gradient(left, #ffffff, #006699);
background: radial-gradient(center, circle, #ffffff 0%, #006699 200%);
outline: 2px dashed #000099;
outline-offset: 15px;
border: 29px;
-moz-border-image: url("images/diamonds.png") 29 stretch;
-webkit-border-image: url("images/diamonds.png") 29 stretch;
border-image: url("images/diamonds.png") 29 stretch;
-moz-transform: skew(20deg);
-webkit-transform: skew(20deg);
transform: skew(20deg);
}
#titulo {
    font: bold 36px verdana, sans-serif;
    text-shadow: rgba(0,0,0, 0.5) 3px 3px 5px;
    color: hsla(120, 100%, 50%, 0.5);
}